.main_content {
  float: right;
  width: 75%;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
}

.data {
  width: 75%;
  float: right;
  margin-right: 6%;
}
.main_upload {
  border: 2px solid #d0d7de;
  border-radius: 20px;
  height: 40vh;
  width: 70%;
  text-align: center;
}

.fa-upload {
  margin-top: 15vh;
  font-size: 50px;
  cursor: pointer;
}
p {
  font-weight: 500;
  font-size: xx-large;
  margin-top: 50px;
}

#file_input {
  display: none;
}
label {
  color: #0969da;
  cursor: pointer;
  font-size: larger;
}
label:hover {
  text-decoration: underline;
}

.upload {
  text-align: center;
  margin-right: 25%;
}

.upload-type {
  padding: 3% 5%;
}

#doc-type {
  width: 90%;
}

.upload button {
  margin: 20px 30px 0 0;
  color: white;
  font-size: 15px;
  background-color: #091322;
  padding: 10px;
  border-color: #091322;
}
button:hover {
  background: none !important;
  box-shadow: none !important;
  color: #14224c !important;
}
