.loader {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 10px solid orange;
  border-top-color: #002147;
  box-sizing: border-box;
  background: transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
/** hour glass end  **/

div.containerr {
  position: absolute;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  width: 100vw;
}

.loader {
  position: absolute;
  left: 50%;
  top: 40%;
}
